/* Stylesheet for the JS-TACG client
 * Author: Son Gohan (son.gohan.mt2@gmail.com)
 * License: GNU GPL v3
 */

 object{


background-image: url("https://board.ae.metin2.gameforge.com/wcf/images/metin2/bg_pattern.jpg");
float:center;
width:350px;
display:table-row;

}


.parname {
	font-weight: bold;
	color: #751116;
	border: 2px ridge #751116;
	background-color:#f1e5c9;
	display: inline-block;
	width: 100px;
	border-width: 3px;
	text-align: center;
} 
.resname {
	
	font-size: 100%;
	color:rgba(105, 5, 5, 1);
	border: 2px ridge #f1e5c9;
	border-top: #751116;
	background-color:#f1e5c9;
	display: inline-block;
	width: 100px;
	text-align: center;
}
	.resetbutton {
	margin:  0px 15px;
	width: 90px;
	height: 45px;
	float: right;
	font-weight: bold;
	color: #751116;
	border: 8px ridge #751116;
	background-color:#f1e5c9;
	border-color: #f1e5c9;
	
}
#container {
	overflow: hidden;


	

	

}
#header {
	text-align: center;
	color: #390007;
	background-color: #f1e5c9;
	padding: 1px 0px;
}
#pg_parameters {
	float: left;
	width: 45%;
	padding: 2px;
	
	
	
	
}
#pg_parameters input {
	color: #390007;
	
}
#pg_parameters p {
	padding: 1px 0px 1px 1px;
	margin: 1px 0px 1px 1px;
	height: 25px;
	
	
	
}
#pg_main_prop {
	display: table;
	width: auto;
	padding: 3px;
	background-color: #f1e5c9;
	border: 2px ridge #390007;
	border-width: 10px;

	

	
}
#status_table input {
	width: 50px;
	padding: 1px;
	background-color:#f1e5c9;
	

	
}
#status_table th.resname {
	font-size: 120%;
	
}
#quests {
	width: auto;
	overflow: hidden;
	margin: 0px 0px 0px 5px;
	padding: 3px;
	border-color:   #f1e5c9;
	border: #f1e5c9;
	background-color: #f1e5c9;
	border: 2px ridge #390007;
	display:table-row;
	font-size: 100%;
	position: static;
	top: 200px;
	left: 600px;

	
	

}
#quests input + label {
	display: inline-block;
	width: 160px;
	padding: 1px;
	border: 2px ridge #390007;
	border-width: 4px;
	background-color: #f1e5c9;
	
	

	
	
}
#quests input[type="checkbox"]:checked + label {
	background-color: #F1E17A;
	
	
	
}
#weapon {
	width: 350px;
	overflow: hidden;
	border: 1px dashed;
	margin: 10px 0px 10px 5px;
	padding: 20px 10px;
	background-color:#f1e5c9;
	text-align: center;
	border: 2px ridge #390007;
	border-width: 8px;

	

}
#results {
	width: 90%;
	margin: 5px;
	text-align: center;
	clear: left;
	border: 2px ridge#390007;
	background-color:#f1e5c9;
	border-width:8px
	
	/*border: 1px solid #000066;*/
}
#results_table {
	width: 100%;
	vertical-align: middle;
	border: 2px ridge #390007;
	border-width: 6px;
	
	
	
}
#results_table th {
	display: table-cell;
	vertical-align: middle;
	width: 120px;
	height: 40px;
	padding: 1px;
	margin: 3px;
	border: 2px ridge #390007;
	background-color: #f1e5c9;
	font-size: 100%;
	border-radius: 11px;
}
#results_table td {
	display: table-cell;
	color: #390007;
	vertical-align: middle;
	border: 2px ridge #390007;
	border-color:#390007;
	border-top-color: #390007;
	border-width: 2px;
	background-color:#f1e5c9;
	width: 80px;
	height: 40px;
	padding: 2px;
	margin: 3px;
	border-radius: 11px;
	
	

}
#bonus {
	float: left;
	width: 100%;
	margin: 5px 0px;
	border-color:  #390007;
	position: static;
	
	
	
	

	
	/*border: 1px dashed blue;*/
}
#bonus_table {
	
	display: inline-block;
	text-align: center;
	border-spacing: 5px 1px;
	border: 2px ridge  #390007;
	width: auto;
	background-color: #f1e5c9;
	border-width: 10px;
	position: static;
	

}
#bonus_table .parname {
	width: 200px;
	background-color:#f1e5c9;
	border-color: #390007;
	border-width: 3px;
}
#bonus_table input {
	display: inline-block;
	border-color:  #390007;
	width: 50px;
	background-color: #f1e5c9;
	border-width: 2px;
	position: static;
}
#enemyskill {
	position: static;
	display: inline-block;
	text-align: left;
	border: 2px ridge  #390007;
	border-color:  #390007;
	border-width: 6px;
	width: auto;
	
}
#enemyskill {
	background-color: #f1e5c9;
	padding: 5px;
	
	
}
#enemyskill span.label {
	display: inline-block;
	color:  #390007;
	width: 70px;

	
}
#enemyskill input[type="text"] {
	width: 50px;
	 border-color:  #390007;
	 background-color: #f1e5c9;
}
#enemyskill input[type="radio"]:checked + label {
	font-weight: bold;
	background-color: #F1E17A;
	

	
}
